/**
 *  Typography 
 *  
 *  Rules should contain font style and sizing declarations
 *  across element tags, and helper classes
 */

//  Google fonts 
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');


//  Base Mixins
@mixin font-serif {
    font-family: 'Merriweather', serif;
}

@mixin font-sans-serif {
    font-family: 'Nunito', sans-serif;
}


//  Global element typography Stles
html, body {
    @include font-sans-serif;
    // font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
}

p, pre, code, div, blockquote, table, tr, td, ol, ul, li, a, abbr {
    font-size: 1.6rem;
}


h1, h2, h3, h4, h5, h6 {
    @include font-serif;
}

h1 {
    font-size: 3.6rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.6rem;
    font-weight: bold;
}


//  Block Quotes
.wp-block-pullquote blockquote p,
blockquote.wp-block-quote p {
    @include font-serif; 
}