
//  Layout
$page-width: 1024px;

//  Greys 
$white:     white;
$grey:      #676767;
$light-grey:#FCFBFB;
$dark-grey: #4E4E4E;
$black:     black;

//  Colors
$blue:      #79878B;
$dark-blue: darken($blue, 35%);
$yellow:    #F2C064;
$light-tan: #FFEEE0;
$tan:       #D9B597;
$orange:    #F3855F;
$red:       #BF6D65;
$purple:    #8091F0;

//  Breakpoints 
$breakpoint-phone:      375px;
$breakpoint-tablet:     768px;
$breakpoint-tablet-xl:  812px;
$breakpoint-desktop-sm: 1024px;