@import './utils/variables';

.entry-title {
    margin-bottom: 1rem;
}

.entry-date {
    margin-bottom: 2rem;
}

.entry-content {

    p {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    p + p {
        margin-top: 2rem;
    }

    p code {
        background: $light-grey;
        padding: .25rem;
        color: $red;
    }
}