@import './utils/variables';

header#site-header, 
footer#site-footer,
main#site-content {
    width: 100%;
}

main#site-content {
    margin: 4rem 0;
    padding: 0 4rem;
}

main#site-content > section:not(.full-width) {
    max-width: $page-width;
    margin: 0 auto;
}

.content-padding {
    padding: 3rem;
}
