// Google fonts 
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,400&display=swap');

html, body {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

p,
pre,
code,
div {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.6rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.6rem;
    font-weight: bold;
}